<ul>
  <% @tasks.each do |task|  %>
    <li>
      <%= task.title %>,
      <% unless task.deadline.nil? %>
          "Deadline : " <%= task.deadline.strftime('%D')  %>
        <% end %>
        - status : <%= task.status %>
       <%= link_to "Edit this task", edit_task_path(task) %>
    </li>
  <% end %>
</ul>
