<html>
  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="m-4 text-center">
    <h1>Merci pour votre contribution :)</h1>

    <p>La page est en construction. Mais tu peux dors et déjà enregistrer un nouveau potin en suivant
    <a href="/gossips/new/">ce lien</a> .
    </p>

  </body>
</html>