html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 5px solid gray;
    box-sizing: border-box;
 }

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    text-decoration: none;
}

div {
    border: 1px solid red;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 20px;
}

nav div {
    padding: 5px;
}

#main {
    height: 250px;
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#search-bar {
    margin: 30px;
    border: 1px solid rgba(170, 170, 170, 0.5);
    border-radius: 30px;
    /* box-shadow: 10px gray; */
    height: 50px;
    width: 580px;
    /* transition: all 0.1s cubic-bezier(.25,.25,.25,.25); */
    text-decoration:none;
    outline:none;
}
     
#search-bar:hover {
    box-shadow: 0 1px 3px rgba(110, 110, 110, 0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn-rect-gray {
    outline:0;
    height: 36px;
    line-height: 27px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    margin: 10px;
}

.btn-rect-gray:focus {
    outline:0;
}

footer {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: flex-end; */
    border: 1px solid rgb(55, 13, 241);
    position: absolute;
    bottom: 0;
    }

.country {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}